html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.author {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
}

#button {
  margin: 0 0 16px 0;
}

.quote {
  margin: 16px 24px 16px 24px;
  width: 90%;
}

.quote-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  min-height: 400px;
  min-width: 512px;
  width: 512px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.quote-box-body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #90d5ec;
  background-image: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%);

  max-width: 100%;
  overflow-x: hidden;
}

#quote-icon {
  transform: rotate(180deg);
  font-size: 64px;
}
